.panel-group{
    margin-bottom: -7px;
    margin-top: 8PX;
    .panel-collapse{
        .list-group{
            .active>a{
                color: #fff;
            }
        }
    }
}

.panel{
    a{
        padding-left:10PX; 
    }
}
.panel-title{
    a{
        font-size: 16PX;
        outline: none;
        color: #337ab7;
        text-decoration: none;
    }
}

// 右边部分

// 右边头部
.el-account .el-account-info .el-head-img{
    border: 1px solid #ddd;
    padding: 10px;
}

.el-account .el-account-info{
    border-bottom: 1px solid #ddd;
    padding-bottom: 16px;
    .el-head{
        margin-top: 5px;
        margin-left: 15px;
    }
    
}


.el-account .el-account-info .el-head-img img{
    height: 72px;
    width: 72px;
}
// 头部中间文字
.totalAmount{
    margin: 10px 2px;
}
// 账户信息
.accountInformation{
    text-align: center;
    width: 400px;
    margin:30px auto 0px auto;
}
// 下部认证
.el-account .el-account-info{
    padding-top: 16PX;
}
.authentication{
    .el-accoun-auth{
        text-align: center;
        padding-top: 25PX;
    }
}


// 媒体查询
@media all and (max-width:992PX){
    .totalAmount{
        font-size: 16PX;
    }
}

@media all and (max-width:766PX){
    .el-account-info{
        .el-head-img{
            margin-left: 80PX;
        }
        .el-head{
            text-align: center;
        }
    }
    .totalAmount{
        text-align: center;
    }
    .accountInformation{
        padding-left: 55PX;
        text-align: left;
    }
    
}

@media all and (max-width:650PX){
   .accountInformation{
        padding-left: 30PX;
        text-align: left;
    }
}
@media all and (max-width:592PX){
    .accountInformation{
         text-align: left;
     }
 }
 @media all and (max-width:414PX){
    .el-account-info{
        .el-head-img{
            margin-left: 28PX;
        }
    }
    .totalAmount{
        font-size: 13PX;
    }
 }

 @media all and (max-width:375PX){
    #leftNav{
        width: 40%;
    }
   
 }

//  切换效果
#MemberMain{
    height: 1110PX;
    overflow-x: none;
}
// 切换按钮
#btnToggle{ 
    position: relative;
    top: -15PX;
    left: 0PX;
    display: none;
}

 @media all and (max-width:552PX){
     #rightCon{
         position: absolute;
         left: 48%;
     }
    //  切换按钮
     #btnToggle{
        display: block;
     }
     #MemberMain{
    transition: all 0.5s linear;
        
     }
     #MemberMain.active{
         position: relative;
         left: -51% ;
         
     }
     #leftNav{
        position: absolute;
        left: 0;
     }
     body{
         overflow-x: hidden;
     }
     
 }




